<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>122</charcode>
    <chardata>
      <data>48</data>
      <data>120</data>
      <data>252</data>
      <data>254</data>
      <data>159</data>
      <data>31</data>
      <data>31</data>
      <data>28</data>
    </chardata>
  </character>
  <character>
    <charcode>123</charcode>
    <chardata>
      <data>48</data>
      <data>40</data>
      <data>36</data>
      <data>255</data>
      <data>36</data>
      <data>36</data>
      <data>40</data>
      <data>48</data>
    </chardata>
  </character>
  <character>
    <charcode>124</charcode>
    <chardata>
      <data>161</data>
      <data>162</data>
      <data>164</data>
      <data>8</data>
      <data>80</data>
      <data>32</data>
      <data>80</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>125</charcode>
    <chardata>
      <data>65</data>
      <data>66</data>
      <data>68</data>
      <data>8</data>
      <data>80</data>
      <data>32</data>
      <data>80</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>126</charcode>
    <chardata>
      <data>1</data>
      <data>2</data>
      <data>4</data>
      <data>8</data>
      <data>80</data>
      <data>32</data>
      <data>80</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>127</charcode>
    <chardata>
      <data>66</data>
      <data>36</data>
      <data>24</data>
      <data>60</data>
      <data>126</data>
      <data>66</data>
      <data>231</data>
      <data>126</data>
    </chardata>
  </character>
</charset>
